* {
	box-sizing:border-box;
}

.logo {
		background-color:#999;
		font-size:30px;
		padding:20px;
		text-align:center;
		}

p {
	border:30px;
	
}

nav a {
	color:#373737;
	text-decoration: none;
	margin-left:15px;
	display:inline-block;
	text-align:center;
	padding-left:18px;
	line-height:18px;
	padding-top:20px;
}



.panel {
	
	font-size:16px;
	padding:20px;
	text-align:center;
	color:#373737;
}

.row {
	
		

}

.navbar {
	color:#c0b283;

}	